body{
  text-align: center;
  background-color: rgb(231, 231, 205);
}
i{
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  color: rgb(62, 92, 213);
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img{
  border-radius: 45%;
  margin: 1rem;
}
.active-property{
  font-size: 1.3rem;
}
.active-value{
  font-size: 2rem;
}
button{
  background-color: rgb(62, 92, 213);
  border: none;
  padding: 0.7rem;
  color: wheat;
  cursor: pointer;
}